* {margin: 0; padding: 0;}
li {list-style: none;}

html {scroll-behavior: smooth;}

section {
    width: 100%;
    height: 1080px;
}

.main {
    width: 100%;
    height: 1080px;
    background-image: url(image/bg01.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.navigation {width: 100%; height: 50px; position: fixed; background-color: #333; z-index: 99;}
.navigation .nav {width: 550px; margin: 0 auto;}
.navigation .nav li {float: left; margin: 10px 50px;}
.navigation .nav a {color: #CCC; font-size: 18px; text-decoration: none;}

.main .inner {width: 1520px; height: 1080px; margin: 0 auto; position: relative;}

.balloon {transform-origin: center center; position: absolute;}
.bln01 {top: 300px; left: -115px;}

.about {
    width: 100%;
    height: 1080px;
    background-image: url(image/bg02.png);
    background-repeat: no-repeat;
}

.about .inner {width: 1520; height: 1080px; margin: 0 auto; position: relative;}

.profile {position: absolute; left: 270px; top: 150px;}
.bln02 {position: absolute; left: 1500px; top: -180px;}
.bln03 {position: absolute; left: 150px; top: 50px;}
.bln04 {position: absolute; left: 670px; top: 230px;}

.projects {
    width: 100%;
    height: 1278px;
    background-image: url(image/bg03.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.projects .inner {width: 1520px; margin: 0 auto; height: 1275px; position: relative;}

.bln05 {position: absolute; top: 20px; right: -40px;}
.bln06 {position: absolute; top: 790px; left: -80px;}

.box {width: 467px; height: 650px; margin: 10px; margin-top: 250px; background-color: #CCC; border-radius: 20px; float: left; overflow: hidden;}
.box img {width: 100%; filter: saturate(0);}
.box:hover {transition: .3s;}
.box img:hover {transition: .8s; filter: saturate(1);}

.contact {
    width: 100%;
    height: 1080px;
    background-image: url(image/bg04.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.contact .inner {width: 1520px; margin: 0 auto; height: 1280px; position: relative;}

input {font-size: 25px; box-sizing: border-box; padding: 10px 30px; color: #333;}

.contact .type p {font-size: 24px; font-weight: bolder; color: #333; margin-bottom: 10px;}
.contact .type {position: absolute; left: 17px; top: 450px;}
.contact .type .email input {width: 510px; height: 75px; border: 2px solid #333; border-radius: 50px; background-color: transparent;}
.contact .type .text input {width: 682px; height: 205px; border: 2px solid #333; border-radius: 30px; background-color: transparent; margin-top: 30px;}

.bln07 {position: absolute; top: 120px; right: 70px;}
.bln08 {position: absolute; top: 470px; left: 800px;}

.contact .inner .icons {position: absolute; bottom: 300px; right: -30px; width: 500px;}
.contact .inner .icons .sns:hover {transition: .3s; transform: scale(1.2);}
.sns {float: left; margin: -15px;}

.footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    overflow: hidden;
    color: #fff;
}

.footer .inner {width: 300px; margin: 0 auto; margin-top: 30px;}

/* 스크롤매직에 사용되는 css */
.magic-slide{opacity: 0; transition: 1s;}
.magic-slide.to-up {transform: translateY(-150px);}
.magic-slide.to-down {transform: translateY(150px);}
.magic-slide.to-right {transform: translateX(-150px);}
.show .magic-slide {opacity: 1; transform: translateY(0);}
.show .magic-slide.delay-0 {transition-delay: 0s;}
.show .magic-slide.delay-1 {transition-delay:0.3s;}
.show .magic-slide.delay-2 {transition-delay:0.6s;}

